@import "tailwindcss";

/* Design system: Color (Figma node 73-6934) */
@theme {
  /* Neutrals */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(45, 20%, 95%);
  --color-neutral-200: hsl(150, 10%, 89%);
  --color-neutral-300: hsl(160, 13%, 84%);
  --color-neutral-600: hsl(166, 22%, 28%);
  --color-neutral-900: hsl(164, 45%, 16%);
  /* Accent & Primary */
  --color-orange-500: hsl(21, 98%, 71%);
  --color-teal-500: hsl(170, 40%, 48%);
  --color-indigo-500: hsl(230, 62%, 64%);
}
